################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/.vs
/UsersService/bin
/UsersService/obj
/Load/bin
/Load/obj
/UsersService/volumes
/UsersService/UsersService.csproj.user
/UsersService/UsersService.csproj.user~master
/AuthenticationService/bin
/AuthenticationService/obj
/Gateway/bin
/Gateway/obj
/volumes
/StorageService/obj
/StorageService/bin
/DeliveriesService/obj
/DeliveriesService/bin
/PaymentsService/obj
/PaymentsService/bin

