################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/.vs

/Load/bin
/Load/obj

/UsersService/bin
/UsersService/obj
/UsersService/volumes
/UsersService/UsersService.csproj.user
/UsersService/UsersService.csproj.user~master

/AuthenticationService/bin
/AuthenticationService/obj

/Gateway/bin
/Gateway/obj

/volumes

/StorageService/obj
/StorageService/bin

/DeliveriesService/obj
/DeliveriesService/bin

/PaymentsService/obj
/PaymentsService/bin

/BillingService/obj
/BillingService/bin

/OrdersService/obj
/OrdersService/bin

/NotificationService/obj
/NotificationService/bin
