################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.idea
/.vs
/Demo/bin
/Demo/obj
/Load/bin
/Load/obj
/Demo/volumes
/Demo/Demo.csproj.user
/Demo/Demo.csproj.user~master
/Auth/bin
/Auth/obj
/Gateway/bin
/Gateway/obj
/volumes
/Storage/obj
/Storage/bin
/Delivery/obj
/Delivery/bin
/PaymentsService/obj
/PaymentsService/bin

